video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}

.container {
  display: flex;
  justify-content: center;
  background-color: rgba(241, 243, 245, 0.411);
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  text-shadow: 1px 1px red;
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: transparent;
  margin-left: 0px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  font-family: 'Josefin Sans', sans-serif;
}

.container-recipies {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  margin: 10px;
  margin-top: 20px;
  font-weight: bold;
}

li {
  text-align: start;
  list-style: none;
  margin-top: 5px;
}

ul {
  padding: 15px;

}

.ricepies {
  width: 350px;
  background-color: rgba(186, 188, 189, 0.589);
  border-radius: 20px;
  margin-top: 40px;
}

h2 {
  height: 90px;
  border-radius: 20px;
  text-shadow: 1px 1px red;
}

img {
  border-radius: 20px;
}

.container-btn {
  display: flex;
  flex-wrap: wrap;
}

.filter-bth {
  margin: 15px;
  padding: 3px;
  width: 130px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  text-shadow: 0.3px 0.3px red;
  border: none;
  background-color: rgba(186, 188, 189, 0.753);
}

button {
  cursor: pointer;
}


@media all and (max-width: 500px) {
  h2 {
    height: max-content;
  }

  .container-btn {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
  }
  
  .filter-bth {
    margin: 15px;
    padding: 3px;
    width: 130px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-shadow: 0.3px 0.3px red;
    border: none;
    background-color: rgba(186, 188, 189, 0.753);
  }
  
  .hidden {
    display: none;
  }

}